#################################################
# Terraform
#################################################

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

#################################################
# Terraform Plans
#################################################

*.tfplan
tfplan

#################################################
# Override Files
#################################################

override.tf
override.tf.json
*_override.tf
*_override.tf.json

#################################################
# CLI Config
#################################################

.terraformrc
terraform.rc