#################################################
# Terraform
#################################################

**/.terraform/*
*.tfstate.*
crash.log

#################################################
# Terraform Plans
#################################################

*.tfplan
tfplan

#################################################
# Override Files
#################################################

override.tf
override.tf.json
*_override.tf
*_override.tf.json

#################################################
# CLI Config
#################################################

.terraformrc
terraform.rc
# Terraform
.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.*
!terraform.tfstate.d/
*.tfplan
*.plan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.pem
*.key
keys/